# Ambiente virtual
venv/

# Variáveis de ambiente / segredos
.env

# Airflow: DAG bag local, logs, metadados
airflow_home/
logs/
*/logs/

# Dados locais e temporários
data/
tmp/

# Python cache
__pycache__/
*.pyc

# VS Code configs locais
.vscode/

# Arquivos de pacotes
*.egg-info/
